:root {
    --cor-primaria: #040D12;
    --cor-secundaria: #183D3D;
    --cor-terciaria: #5C8374;
}

html {
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 0.625rem; /* 10px / 16 */
    box-shadow: 0 0 0.625rem var(--cor-primaria); /* 10px / 16 */
    max-width: 50rem; /* 800px / 16 */
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 0;
    display: block;
}

section {
    padding: 2em;
}

.card {
    display: flex;
    align-items: center;
    background-color: var(--cor-terciaria);
    padding: 2rem;
    border-radius: 0.625rem; /* 10px / 16 */
    box-shadow: 1.625rem 1.1875rem 0.6875rem 0 #112424; /* 26px 19px 11px / 16 */
    text-align: left;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        text-align: center;
    }

    .foto-container {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .info {
        text-align: center;
    }

    .container {
        padding: 0.5rem;
    }

    .socialIcons {
        flex-direction: row;
    }

    .socialIcons img {
        height: 2.5rem;
    }
}

#descricao {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.foto-container {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.foto {
    border-radius: 50%;
    width: 9.375rem; /* 150px / 16 */
    height: 9.375rem; /* 150px / 16 */
    object-fit: cover;
}

.info {
    flex: 1;
}

.focosIcons img {
    height: 2.1875rem; /* 35px / 16 */
    flex-wrap: wrap;
    padding: 0.0625rem; /* 1px / 16 */
    flex-direction: row;
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem;
}

.socialIcons a {
    display: inline-block;
}

.socialIcons img {
    height: 2.1875rem; /* 35px / 16 */
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}

.socialIcons a:hover img {
    transform: scale(1.2);
}

.projetos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
}

.projeto {
    background-color: var(--cor-terciaria);
    padding: 1rem;
    border-radius: 0.625rem; /* 10px / 16 */
    width: calc(50% - 1rem);
    box-shadow: 1.625rem 1.1875rem 0.6875rem 0 rgba(0, 0, 0, 0.1); /* 26px 19px 11px / 16 */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projeto .preview {
    width: 100%;
    height: 12.5rem; /* 200px / 16 */
    object-fit: cover;
    border-radius: 0.625rem 0.625rem 0 0; /* 10px / 16 */
}

footer {
    padding: 0.5rem;
    background-color: var(--cor-primaria);
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto;
    margin-left: -1rem; 
}

.ffont {
    color: #2b3d36;
    text-align: right;
    font-size: 0.9375rem; /* 15px / 16 */
}

